.ipynb_checkpoints
raw_reads/424_forward.singletons.fastq.gz
raw_reads/424_forward.paired.fastq.gz
raw_reads/424_S6_R1_001.fastq.gz
raw_reads/404_forward.paired.fastq.gz
raw_reads/Sefale_reverse.paired.fastq.gz
raw_reads/Sefale_forward.paired.fastq.gz
raw_reads/404_S6_R1_001.fastq.gz
raw_reads/404_reverse.paired.fastq.gz
raw_reads/404_S6_R2_001.fastq.gz
raw_reads/424_S6_R2_001.fastq.gz
raw_reads/Sefale_S5_R1_001.fastq.gz
raw_reads/424_reverse.paired.fastq.gz
raw_reads/Sefale_S5_R2_001.fastq.gz
raw_reads/404_forward.singletons.fastq.gz
smudgeplot_files/404_kmer_counts.jf.gz
smudgeplot_files/Sefale_kmer_counts.jf.gz
smudgeplot_files/424_kmer_counts.jf.gz
raw_reads/424_forward.singletons.fastq.gz
raw_reads/424_forward.paired.fastq.gz
raw_reads/424_S6_R1_001.fastq.gz
raw_reads/404_forward.paired.fastq.gz
raw_reads/Sefale_reverse.paired.fastq.gz
raw_reads/Sefale_forward.paired.fastq.gz
raw_reads/404_S6_R1_001.fastq.gz
raw_reads/404_reverse.paired.fastq.gz
raw_reads/404_S6_R2_001.fastq.gz
raw_reads/424_S6_R2_001.fastq.gz
raw_reads/Sefale_S5_R1_001.fastq.gz
raw_reads/424_reverse.paired.fastq.gz
raw_reads/Sefale_S5_R2_001.fastq.gz
raw_reads/404_forward.singletons.fastq.gz
raw_reads/424_forward.singletons.fastq.gz
raw_reads/424_forward.paired.fastq.gz
raw_reads/424_S6_R1_001.fastq.gz
raw_reads/404_forward.paired.fastq.gz
raw_reads/Sefale_reverse.paired.fastq.gz
raw_reads/Sefale_forward.paired.fastq.gz
raw_reads/404_S6_R1_001.fastq.gz
raw_reads/404_reverse.paired.fastq.gz
raw_reads/404_S6_R2_001.fastq.gz
raw_reads/424_S6_R2_001.fastq.gz
raw_reads/Sefale_S5_R1_001.fastq.gz
raw_reads/424_reverse.paired.fastq.gz
raw_reads/Sefale_S5_R2_001.fastq.gz
raw_reads/404_forward.singletons.fastq.gz
smudgeplot_files/Sefale_kmer_counts.jf.gz
smudgeplot_files/424_kmer_counts.jf.gz
smudgeplot_files/404_kmer_counts.jf.gz
mapping_to_SefAle/404.bam.gz
mapping_to_SefAle/Sefale.bam.gz
mapping_to_SefAle/404.un.sam.gz
mapping_to_SefAle/424.sam.gz
mapping_to_SefAle/Sefale.sam.gz
mapping_to_SefAle/404.sam.gz
mapping_to_SefAle/Sefale.un.sam.gz
mapping_to_SefAle/424.bam.gz
mapping_to_SefAle/424.un.sam.gz
smudgeplot_files/Sefale_kmer_counts.jf.gz
smudgeplot_files/424_kmer_counts.jf.gz
smudgeplot_files/404_kmer_counts.jf.gz
mapping_to_SefAle/Sefale.bam.gz
mapping_to_SefAle/404.un.sam.gz
mapping_to_SefAle/Sefale.sam.gz
mapping_to_SefAle/404.bam.gz
mapping_to_SefAle/424.un.sam.gz
mapping_to_SefAle/424.sam.gz
mapping_to_SefAle/424.bam.gz
mapping_to_SefAle/Sefale.un.sam.gz
mapping_to_SefAle/404.sam.gz
mapping_to_ref/424.bam.gz
